.twitter-ticker {
  cursor: pointer;
  font-family: 'AmbleRegular';
  font-size: 14px;
  line-height: 15px;
  border: 1px solid #7A7A7A;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
  padding: 3px 3px 3px 48px;
  height: 29px;
  width: 500px;
  background: url(twitter-ticker-skin.png) 0px 0px no-repeat;
}